#contprinc2,
#contprinc1 {
  /* border-radius: 35px; */
  border-radius: 22px;
  background: linear-gradient(145deg, #d2dce3, #f9ffff);
  box-shadow: 8px 8px 16px #c8d2d9, -8px -8px 16px #ffffff;
}

#root {
  background-color: #415a77;
}
/* a{ */
/* sty */
/* } */
